<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="ev-analytics">
  <script>
    window.dataLayer = window.dataLayer || [];

/**
`ev-analytics` is a simple component for adding Google Analytics tracking to a
widget.

Example:

    <ev-analytics tracking-id="GA-TRACKING-ID"></ev-analytics>

IP tracking can be turned off by setting the `anonymize` flag:

    <ev-analytics tracking-id="GA-TRACKING-ID" anonymize></ev-analytics>

Once included in your page, the element will automatically find elements on the
page and bind events to them which dispatch the information to Google
Analytics.

@customElement
@polymer
@demo demo/index.html
*/
    class EvAnalytics extends Polymer.Element {
      static get is() { return 'ev-analytics'; }
      static get properties() {
        return {
          /** UA identifier for Google Analytics tracking */
          trackingId: String,
          /** The dimensions map? TODO: */
          dimensionsMap: Object,
          /** Turns IP tracking on/off in Google Analytics */
          anonymize: {
            type: Boolean,
            value: false
          },
        };
      }

      ready() {
        super.ready();
        this._addGoogleAnalytics();

        window.addEventListener('ev-track', (event) => {
          const details = {
            'send_to': this.trackingId,
            ...event.detail
          };

          if (this.anonymize) {
            details['anonymize_ip'] = true;
          }

          this.gtag('event', event.detail.type, details);
        });
      }

      /**
       * Send the event data to Google Analytics.
       */
      gtag() {
        window.dataLayer.push(arguments);
      }

      /**
       * Adds Google Analytics script to the page based on the tracking id.
       */
      _addGoogleAnalytics() {
        if (this.trackingId) {
          const script = document.createElement('script');
          script.async = true;
          script.src = `https://www.googletagmanager.com/gtag/js?id=${this.trackingId}`;
          script.onload = _ => this._initialiseAnalytics();

          document.head.appendChild(script);
        }
      }

      _initialiseAnalytics() {
        this.gtag('js', new Date());
        this.gtag('config', `${this.trackingId}`);

        this._addEventBindings();
        this._initDimensions();
      }

      _addEventBindings() {
        this.addEventBinding(document.querySelectorAll('*'), 'input[type="text"]', 'blur');
        this.addEventBinding(document.querySelectorAll('*'), 'input[type="email"]', 'blur');
        this.addEventBinding(document.querySelectorAll('*'), 'input[type="number"]', 'blur');
        this.addEventBinding(document.querySelectorAll('*'), 'input[type="radio"]', 'click');
        this.addEventBinding(document.querySelectorAll('*'), 'input[type="checkbox"]', 'click');
        this.addEventBinding(document.querySelectorAll('*'), 'button', 'mousedown');
        this.addEventBinding(document.querySelectorAll('*'), 'select', 'change');
        this.addEventBinding(document.querySelectorAll('*'), 'a', 'click');
        this.addEventBinding(document.querySelectorAll('*'), '.modal[role="dialog"]', 'shown.bs.modal');
        this.addEventBinding(document.querySelectorAll('*'), 'a[data-toggle="tab"]', 'shown.bs.tab');
      }

      /**
      * Binding a event at least one element based on a valid selector
      * @param {Array.<HTMLElement>} elements all elements to potentially track
      * @param {String} selector element selector
      * @param {String} eventType name of the type of the event
      * @param {String} category name of the category used to log in Google Analytics
      * @param {String} label label describing the action of the event
      */
      addEventBinding(elements, selector, eventType, category, label) {
        let eventCategory = category || selector;
        let eventLabel = label || 'NONE'
        elements.forEach((element) => {
          if (element.matches(selector)) {
            if (selector === 'a') {
              element.addEventListener(eventType, (event) => {
                this.gtag('event', event.currentTarget.id, {
                  'event_category': eventCategory,
                  'anonymize_ip': this.anonymize
                })
              });
            } else {
              element.addEventListener(eventType, (event) => {
                this.gtag('event', eventType, {
                  'event_category': eventCategory,
                  'event_label': eventLabel,
                  'value': event.currentTarget.value,
                  'anonymize_ip': this.anonymize
                });
              });
            }
          } else if(element.shadowRoot) {
            let shadowElements = element.shadowRoot.querySelectorAll(selector);
            this.addEventBinding(shadowElements, selector, eventType, category);
          }
        });
      }

      _initDimensions() {
        if (this.dimensionsMap) {
          let dimensionNum = 1;
          const dimensionsArray = Object.keys(dimensionsMap);

          for (let i = 0; i < dimensionsArray.length; i++) {
            let dimensionName = dimensionsArray[i];

            this.gtag('config', self.trackingId, {
              'custom_map': { [`dimension${dimensionNum}`]: dimensionName }
            });

            this.gtag('event', `${dimensionName}_dimension`, { [dimensionName]: dimensionsMap[dimensionName] });

            dimensionNum++;
          }
        }
      }
    }

    window.customElements.define(EvAnalytics.is, EvAnalytics);
  </script>
</dom-module>